<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

</head>
<body>

<nav class="navbar-light bg-light">
    <div class="container nav-cont">
        <div class="row">
            <div class="col-4">
                {% if not customer %}
                <a href="/login">
                    <button>Войти</button>
                </a>
                {% else %}
                <button><a href="/logout/">Выйти</a></button>
                <p>{{ customer.get('first_name') }} {{ customer.get('last_name') }}</p>
                {% end %}
            </div>
            <div class="col-2"></div>
            <div class="col-6 nav-count-img">
                <p>Выводить по
                    <a href="/?count_img=10" class="{% if count_img == 10 %} count_img {% end %}">10</a>
                    <a href="/?count_img=20" class="{% if count_img == 20 %} count_img {% end %}">20</a>
                    <a href="/?count_img=50" class="{% if count_img == 50 %} count_img {% end %}">50</a>
                    <a href="/?count_img=0" class="{% if count_img == 0 %} count_img {% end %}">все</a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container gallery-cont">
    <div class="row">
        {% for image in images %}
        <div class="col-3 img-item">
            <p>{{ image.get('name') }}</p>
            <a data-fancybox="gallery" href="{{image.get('file')}}"><img src="{{image.get('preview')}}"></a>
            <div class="row">
                <div class="col-3 like-block">
                    {% if customer %}
                        {% if image.get('like') != None %}
                            {% if image.get('like') == True %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <form method="post" action="/make_like_handler/">
                                    <input type="text" value="{{image.get('resource_id')}}" name="resource_id" style="display: none">
                                    <input type="text" value="True" name="like_img" style="display: none">
                                    <button type="submit"><i class="far fa-thumbs-up"></i></button>
                                </form>
                            {% end %}
                        {% else %}
                            <form method="post" action="/make_like_handler/">
                                <input type="text" value="{{image.get('resource_id')}}" name="resource_id" style="display: none">
                                <input type="text" value="True" name="like_img" style="display: none">
                                <button type="submit"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        {% end %}
                    {% end %}
                </div>
                <div class="col-3 like-block">
                    {% if customer %}
                        {% if image.get('like') != None %}
                            {% if image.get('like') == False %}
                                <i class="fas fa-thumbs-down"></i>
                            {% else %}
                                <form method="post" action="/make_like_handler/">
                                    <input type="text" value="{{image.get('resource_id')}}" name="resource_id" style="display: none">
                                    <input type="text" value="False" name="like_img" style="display: none">
                                    <button type="submit"><i class="far fa-thumbs-down"></i></button>
                                </form>
                            {% end %}
                        {% else %}
                            <form method="post" action="/make_like_handler/">
                                <input type="text" value="{{image.get('resource_id')}}" name="resource_id" style="display: none">
                                <input type="text" value="False" name="like_img" style="display: none">
                                <button type="submit"><i class="far fa-thumbs-down"></i></button>
                            </form>
                        {% end %}
                    {% end %}
                </div>
                <div class="col-6"></div>
            </div>
        </div>
        {% end %}
    </div>
    <div class="nav-page">
        {% for page in range(pages) %}
        <a href="/?page_number={{ page }}&count_img={{ count_img }}" class="{% if page_number == page %} page {% end %}">{{ page + 1}}</a>
        {% end %}
    </div>
</div>
</body>
</html>